#banner
	.banner_content
		%h1 Gabe's Note App
		%p I made an online notebook for you.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "If you're tired of lame notebook apps then look no further than Gabe's!"
		%p.name - Aristotle

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-music
				%h2 Bruh
				%p Mustache Helvetica PBR, Schlitz raw denim Truffaut next level. Fixie normcore aesthetic ugh YOLO pork belly. Street art Schlitz butcher, chia tousled keytar asymmetrical slow-carb church-key fingerstache single-origin coffee you probably haven't heard of them viral health goth.
			.callout
				%i.fa.fa-paint-brush
				%h2 It's
				%p Shoreditch craft beer health goth Vice meggings put a bird on it. Semiotics shabby chic +1 cred normcore fingerstache, kitsch Shoreditch Godard scenester cronut bitters four loko swag gastropub.
			.callout
				%i.fa.fa-book
				%h2 Lit
				%p American Apparel beard Banksy next level, photo booth 8-bit master cleanse chambray gastropub semiotics deep v. Vice Austin cred Williamsburg pork belly fashion axe.

#bottom_cta
	.wrapper
		%h2 This is an actual working app
		%p It would be dope if you used it...
		%button= link_to "Sign Up", new_user_registration_path

%footer
	%p Gabriel Dekoladenu &copy; 2015